#Hide Quartus Files
*.bak
*.qwf
*.qws
/quartus/simulation
/quartus/c5_pin_model_dump.txt
/quartus/db/
/quartus/incremental_db/
/quartus/serv_req_info.txt
/quartus/scp_nativelink_simulation.rpt
greybox_tmp/
/quartus/pll_sim.f
/quartus/vga_pll_sim.f

/quartus-new-arch/simulation
/quartus-new-arch/c5_pin_model_dump.txt
/quartus-new-arch/db/
/quartus-new-arch/incremental_db/
/quartus-new-arch/serv_req_info.txt
/quartus-new-arch/scp_nativelink_simulation.rpt
greybox_tmp/
/quartus-new-arch/pll_sim.f
/quartus-new-arch/vga_pll_sim.f
#Hide pyc if they get generated
*.pyc
.mypy_cache
__pycache___
#Hide compiled files
*.o
#Hide compiled smallC binaries
/smallC/scc8080
/smallC/sccscp
/assembler/scpasm
/assembler/scpmif
/assembler/scplnk
#Hide vscode stuff
.vscode

#Hide non scp binaries
/vbcc/bin/*
/binutils/bin/*
/emulator/scpemu

