-cc=vbccscp -quiet %s -o= %s %s -O=%ld -I/home/edward/Documents/scp/software/lib/include -DSCP
-ccv=vbccscp %s -o= %s %s -O=%ld -I/home/edward/Documents/scp/software/lib/include -DSCP
-as=scpasm %s -o %s
-asv=scpasm %s -o %s
-rm=rm -f %s
-rmv=rm %s
-ld=scplnk -L/home/edward/Documents/scp/software/lib/bin/ /home/edward/Documents/scp/software/lib/bin/crt0.a %s %s -o %s
-ldv=scplnk -L/home/edward/Documents/scp/software/lib/bin/ /home/edward/Documents/scp/software/lib/bin/crt0.a %s %s -o %s
-l2=scplnk -L/home/edward/Documents/scp/software/lib/bin/ %s %s -o %s
-l2v=scplnk -L/home/edward/Documents/scp/software/lib/bin/ %s %s -o %s
-l3=scplnk -L/home/edward/Documents/scp/software/lib/bin/ /home/edward/Documents/scp/software/lib/bin/crt0.a  -r -p  %s %s -o %s
