-cc=vbccscp -quiet %s -o= %s %s -O=%ld -I/home/edward/scp_software/lib/include
-ccv=vbccscp %s -o= %s %s -O=%ld -I/home/edward/scp_software/lib/include
-as=scpasm %s -o %s
-asv=scpasm %s -o %s
-rm=rm -f %s
-rmv=rm %s
-ld=scplnk /home/edward/scp_software/lib/bin/crt0.o %s %s -o %s
-ldv=scplnk /home/edward/scp_software/lib/bin/crt0.o %s %s -o %s
-l2=scplnk %s %s -o %s
-l2v=scplnk %s %s -o %s
-l3=scplnk /home/edward/scp_software/lib/bin/crt0.o  -r -p  %s %s -o %s